

<app-header></app-header>

<div class="wrapper">
<div class="active-cyan-3 active-cyan-4 mb-4" style="width: 700px; margin-top: 10px; display: block; margin-left: auto; margin-right: auto;">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="float: left; padding: 11px;">
    <span id="search_concept">Categories </span> <span class="caret"></span>
  </button>
  <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 500px; height: 45px; float: left;">
  <button class="btn btn-primary" style="float: left; padding: 11px; margin-left: 5px;">Search</button>
</div>
<div style="clear: both; margin-bottom: 20px;"><p></p></div>

<app-item-card></app-item-card>






<!-- <div class="wrapper">
  <div class="SearchBar">
    
  </div>
</div> -->

